.imputfield{
    padding: 5px;
    border: solid 1px;
    margin-top: 10px;
    border-radius: 1.5rem;
}

.imputfield .checked{
    background-color: aqua;
}

input{
    margin-right: 5px;
}

.form-select{
    width: auto;
    margin-bottom: 10px;
  }

  .form-label{
    font-weight: bold;
  }

  .b{
    margin-top: 20px;
  }
  .form-control{
    border-radius: 2.5rem;
    width: auto;
    margin-bottom: 10px;
  }