
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="card-body" [formGroup]="rentForm">
                <div class="row">
                    <div class="col-md-6">
                        @for (vehicle of vehicles; track $index) {
                            <div class="imputfield col-md-12">
                                <input type="radio" value={{vehicle.id}} formControlName = "vehicleId">
                                <label>{{vehicle.brand}} {{vehicle.model}} {{vehicle.id}}</label>
                            </div>

                        }
                    </div>
                    <div class="col-md-6">
                            @for (customer of customers; track $index) {
                                <div class="imputfield checked col-md-12">
                                    <input type="radio" value={{customer.id}} formControlName = "customerId">
                                    <label>{{customer.firstName}} {{customer.lastName}}</label>
                                </div>

                            }
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" (click)="save()">Save</button>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
