.header{
    margin: 0;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #1d2d44;
}


h1{
    color:white;
}

a{
    color: white;
    margin-top: 10px;
    font-size: 28px;
}

