<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div class="row header">
  <div class="col-md-3">
    <h1>Siófok rent</h1>
  </div>
  <div class="col-md-1 a">
    <a href="">Flotta</a>
  </div>
  <div class="col-md-1 a">
    <a href="/customers">Ügyfelek</a>
  </div>
  <div class="col-md-1 a">
    <a href="/rents">Bérlések</a>
  </div>
  <div class="col-md-1 a">
    <a href="/history">History</a>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        @if (authService.isLoggedIn()) {
          <div class="row">
            <div class="col-md-9 a b" style="margin-top: 10px;">
              <a style="font-size: 20px;" href="/register">Új felhasználó</a>
            </div>
            <div class="col-md-1 a" style="margin-top: 10px;">
              <a style="font-size: 20px;" href="#" (click)="logout()">Kilépés</a>
            </div>
          </div>
  
      
        }@else {
          <div class="col-md-1 a">
            <a href="/login">Belépés</a>
          </div>
        }
      </div>
    </div>
  </div>


  </div>
<body>
  <app-app-toast aria-live="polite" aria-atomic="true"></app-app-toast>
  <router-outlet/>
</body>
</html>
