<div class="b row">
    <div class="col-md-3">
        <h2 style="text-align: center;">Filters</h2>
        <div class="col-md-3" style="padding-left: 10px;">
            <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="search" (change)="filter()">
            <label class="form-label">Type</label>
            <select class="form-select" name="type" [(ngModel)]="selectedtype" (change)="filter()">
                <option value="">Select type from the list...</option>
                @for (type of types; track $index) {
                    <option value={{type}}>{{type}}</option>
                }
            </select>
            <label class="form-label">Brand</label>
            <select class="form-select" name="brand" [(ngModel)]="selectedbrand" (change)="filter()">
                <option value="">Select brand from the list...</option>
                @for (brand of brands; track $index) {
                    <option value={{brand}}>{{brand}}</option>
                }
            </select>
            <label class="form-label">Status</label>
            <select class="form-select" name="brand" [(ngModel)]="status" (change)="filter()">
                <option value="">Select the status from the list...</option>
                @for (status1 of statuses; track $index) {
                    <option value={{status1}}>{{status1}}</option>
                }
            </select>
            <label class="form-label">Sékek száma (min)</label>
            <input type="number" class="form-control" [(ngModel)]="seats" (change)="filter()">
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="col-md-10" style="text-align: center; color: Black; font-size: 64px;">Flotta</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Model</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Állapot</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (vehicle of filteredvehicles; track vehicle; let i = $index) {
                            <tr>
                                <th scope="row">{{ vehicle.id}}</th>
                                <td>
                                    <a routerLink="/vehicle/{{vehicle.id}}">{{ vehicle.brand}} {{vehicle.model}}</a>
                                </td>
                                <td>{{vehicle.seats}}</td>
                                <td>@switch (vehicle.status) {
                                        @case ("Elérhető") {
                                            <span class="badge" style="background-color: green;">Elérhető</span>
                                        }
                                        @case ("Selejtezett") {
                                            <span class="badge" style="background-color: red;">Selejtezett</span>
                                        }
                                        @case ("Kölcsönzött") {
                                            <span class="badge" style="background-color: blue;">Kölcsönzött</span>
                                        }
                                }
                                </td>
                                <td><button class="btn btn-danger" (click)="deleteVehicle(vehicle)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div style="display: flex; justify-content: right;">
            <div class="col-md-3" style="margin-right: 10px;"><button class="btn btn-primary" routerLink="/vehicle" routerLinkActive="router-link-active" >Új jármű</button></div>
        </div>
    </div>
</div>
